{% assign doc_url = include.file %}

{% if include.file contains 'http' %}
  {% assign full_url = include.file %}
{% else %}
  {% assign full_url = site.url | append: site.baseurl | append: '/' | append: include.file %}
{% endif %}

<iframe
  src="https://view.officeapps.live.com/op/embed.aspx?src={{ site.url }}{{ site.baseurl }}/{{ include.file | uri_escape }}"
  width="100%"
  height="{{ include.height | default: 600 }}"
  frameborder="0">
</iframe>

<noscript>
  <p>
    View document directly:
    <a href="{{ full_url }}">{{ include.file }}</a>
  </p>
</noscript>
